<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Conversion</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <header class="navbar">
        <a href="/" class="navbar__link">Home</a>
    </header>
    <main class="container">
        <h1 class="heading">Conversão de Áudio</h1>
        <ul class="ul-center">
            <li>Nome do Arquivo original: {{ filename }}</li>
            <li>Formato atual: {{ current_format }}</li>
        </ul>
        <form class="form" action="/convert-audio/" method="post">
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="hidden" name="current_format" value="{{ current_format }}">
            <div class="form__group">
                <label class="form__label" for="format">Converter para:</label>
                <select class="form__select" id="format" name="format">
                    {% if current_format == 'mp3' %}
                        <option value="wav" selected>WAV</option>
                    {% elif current_format == 'wav' %}
                        <option value="mp3" selected>MP3</option>
                    {% endif %}
                </select>
            </div>
            <button class="form__button" type="submit">Converter Áudio</button>
        </form>
        {% if converted_file %}
        <div class="modal modal--show">
            <div class="modal__content">
                <span class="modal__close">&times;</span>
                <p>O arquivo convertido está disponível para download:</p>
                <a href="{{ url_for('uploads', path=converted_file.split('/')[-1]) }}" class="modal__download-link">Baixar arquivo convertido</a>
            </div>
        </div>
        {% endif %}
        <form class="form" action="/" method="get">
            <button class="form__button" type="submit">Voltar</button>
        </form>
    </main>
</body>
</html>
