<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Metadata</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="navbar">
        <a href="/" class="navbar__link">Home</a>
    </header>
    <main class="container">
        <h1 class="heading">Metadados do Áudio</h1>
        <ul class="ul-center">
            <li>Nome do arquivo: {{ metadata.filename }}</li>
            <li>Duração: {{ metadata.duration }}</li>
            <li>Formato: {{ metadata.format }}</li>
            <li>Tamanho do arquivo: {{ metadata.size }}</li>
        </ul>
        <div class="audio-player">
            <audio controls>
                <source src="/uploads/{{ metadata.filename }}" type="{{ metadata.mime }}">
                Seu Navegador não suporta o elemento de áudio.
            </audio>
        </div>
        <form class="form" action="/" method="get">
            <button class="form__button" type="submit">Voltar</button>
        </form>
        <form class="form" action="/selected-audio/{{ metadata.filename }}/{{ metadata.format }}" method="get">
            <button class="form__button" type="submit">Converter Áudio</button>
        </form>
    </main>
</body>
</html>
